/node_modules

/public/hot
/public/storage
/public/js/chunks/*.js
/public/css/*.css
/public/js/
/public/mix-manifest.json
/public/uploads
/public/images/*
/public/uploads/vides/escort_video/*

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
yarn.lock
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
