.auth-form {
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 4px 0 hsl(0deg 0% 8% / 14%), 0 16px 20px -5px hsl(0deg 0% 8% / 18%);
  border-radius: 5px;
  padding: 20px;

  .nav-tabs .nav-link {
    color: #3a6fc5;
    &.active {
      color: #5b5b5b;
    }
  }

  .heading {
    text-align: center;
    margin-bottom: 20px;
    .title {
      font-weight: bold;
      font-size: 1.4rem;
    }
    .desc {
      color: #5b5b5b;
    }
  }

  .signin-with-social {
    margin-bottom: 50px;
    button.btn {
      width: 50%;
      margin: 0 auto;
      background: none;
      color: #2d2d2d;
      border: 1px solid #b7b7b7;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        margin-bottom: 2px;
      }
    }
    button.signin-google {
      margin-bottom: 4px;
    }
  }

  .form-wrapper {
    padding: 20px 0;
    .form-control {
      background-color: #fff;
      border: 1px solid #e8e8e8;
    }
    .btn-submit {
      background-color: #3a6fc5;
      border: 1px solid #3a6fc5;
      padding: 10px 0;
      margin-top: 20px;
    }
  }
}
