.box-shadow-two {
  box-shadow: 0 0 3px 0 hsl(0deg 0% 8% / 10%), 0 8px 16px -3px hsl(0deg 0% 8% / 20%);
}

.app-bg-color {
  background-color: #3a6fc5!important;
}

.btn-app {
  background-color: #3a6fc5!important;
  border-color: #3a6fc5!important;
  color: #fff!important;
}
