.full-size {
  &--btn {
    width: 100%;
    display: block;
  }
}

.view {
  &--center {
    margin-right: auto;
    margin-left: auto;
  }
}

.text {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}

.w {
  &-100 {
    width: 100%!important;
  }
}

.h {
  &-100 {
    height: 100%;
  }
}

.d {
  &-inline-block {
    display: inline-block;
  }
  &-block {
    display: block;
  }
  &-flex {
    display: flex;
    &.justify-between {
      justify-content: space-between;
    }
    &.justify-end {
      justify-content: flex-end;
    }
    &.align-center {
      align-items: center;
    }
  }
  &-none {
    display: none!important;
  }
}

.m {
  &-r--5 {
    margin-right: 5px!important;
  }
  &-r--10 {
    margin-right: 10px!important;
  }
  &-b--0 {
    margin-bottom: 0!important;
  }
}

.container {
  &-fluid {
    padding: 16px 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
}

.btn {
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  padding: 10px 13px;
  &--primary {
    background-color: $colorHighlight;
  }
  &--inline-block {
    display: inline-block;
  }
}

.router-link-exact-active.active {
  font-weight: bold;
}

.ct-row {
  max-width: 1440px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.el-form {
  &-item__error {
    position: inherit!important;
  }
}

.image-heading {
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
  }
}

.form-label {
  margin-bottom: 10px;
  display: block;
}

.row-2 {
  .el-col:first-child {
    padding-right: 10px;
  }
  .el-col:last-child {
    padding-left: 10px;
  }
}

.el-form {
  margin-top: 20px;
}
